* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 255, 251);
    color: black;
    text-align: center;
}

h1 {
    padding-bottom: 3vw;
}

.parkForm {
    display: inline-block;
}

input {
    width: 3vw;
}

ul {
    text-align: left;
}

.hidden {
    display: none;
}